.site-header{
    background-color: rgb(67, 139, 124);
    color: #ececec;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.site-header-content{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #4CAF50 5px 20px 50px;
}
.course-link{
    color: #ececec;

}
body{
    margin: 0;
}